@{
    ViewBag.Title = "Resideo Facility Manager";
}
<br />
<div ng-app="ResideoApp" ng-controller="RoomBookingController" class="md-padding" layout="column" style="    height: -webkit-fill-available;">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Meeting Room Booking</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <md-input-container>
                    <label>Location:</label>
                    <md-select ng-model="selectedLocation">
                        <md-option ng-repeat="loc in locations" ng-value="loc" ng-disabled="$index === 1">
                            {{loc}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div>
                    <br />
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <md-input-container>
                    <label>Start Time:</label>
                    <md-select ng-model="startTime">
                        <md-option ng-repeat="stime in stimes" ng-value="stime" ng-disabled="$index === 1">
                            {{stime}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>End Time:</label>
                    <md-select ng-model="endTime">
                        <md-option ng-repeat="etime in etimes" ng-value="etime" ng-disabled="$index === 1">
                            {{etime}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button style="    margin-left: 20px;
    height: 50px;" class="md-raised" ng-click=findRooms()>Find</md-button>

            </div>
        </md-card-content>
    </md-card>
    <div ng-show="showRooms">
        <md-toolbar layout="row" class="md-hue-3">
            <div class="md-toolbar-tools">
                <span>Available Rooms</span>
            </div>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-subheader class="md-no-sticky">4 rooms are available</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="item in rooms" ng-click="null">
                    @*<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />*@
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ item }}</h3>
                        <h4>Sitting: 8</h4>
                        <p>Projector: Yes</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-content>
    </div>
</div>
            