@{

    ViewBag.Title = "Resideo Facility Manager";
}
<br />

    <div class="md-padding" layout="column" style="    height: -webkit-fill-available;">
        <div ng-view>
     

        </div>
</div>       