@{
    ViewBag.Title = "Login";
}


<div ng-cloak  class="login-section" ng-init="user.email='@(ViewBag.email)';user.code='@(ViewBag.code)'" ng-app="ResideoApp" ng-controller="IdentityController" class="md-padding">
    <md-card ng-if="!signupSucces">
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <span class="md-headline">Reset Password</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="!passwordResetDone">
            <div layout="column">
                <form name="resetPasswordForm" ng-submit="resetPasswordForUser()">
                    <div layout-gt-xs="column">
                        <md-input-container ng-hide="user.email" class="md-block" flex-gt-xs>
                            <label>email </label>
                            <input ng-disabled="true" ng-model="user.email" type="email" ng-required="true">
                            <div class="hint">Your official email id at resideo.</div>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-disabled="signupStart" type="password" ng-model="user.password" required>
                            <div class="hint">Any text mix of alphabets, numbers and special chars, which you can remember.</div>
                        </md-input-container>
                        <md-input-container>
                            <label>Retype Password</label>
                            <input ng-disabled="signupStart" type="password" ng-model="user.checkpassword" compare-to="user.password" required>
                            <div class="hint">Just to verify that what you are typing is same what you are thinking.</div>
                        </md-input-container>
                        <md-button ng-disabled="signupStart" type="submit" style="    background-color: red;" class="md-raised md-primary">
                            Reset Password
                        </md-button>

                        <br />
                        <a ng-if="!signupStart" href="/">Back to Login Page</a>
                        <md-progress-linear ng-if="passwordResetStart" class="md-warn" md-mode="indeterminate"></md-progress-linear>

                    </div>
                </form>
            </div>
        </md-card-content>
        <md-card-content ng-if="passwordResetDone">
            <div layout="column">
                <h4>Password reset done. Redirecting you to login page...</h4>
                <md-progress-linear  class="md-warn" md-mode="indeterminate"></md-progress-linear>
            </div>
        </md-card-content>
    </md-card>

   
    </div>
