@{
    ViewBag.Title = "Login";
}


<div  class="login-section" ng-app="ResideoApp" ng-controller="IdentityController" class="md-padding">
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <span class="md-headline">Signup for Facility Portal</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column">
                <form name="userForm">
                    <div layout-gt-xs="column">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Username/email</label>
                            <input ng-model="username" type="email">
                        </md-input-container>

                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="password">
                        </md-input-container>
                        <md-input-container>
                            <label>Retype Password</label>
                            <input ng-model="password">
                        </md-input-container>
                        <md-button style="    background-color: red;" class="md-raised md-primary">
                            Signup
                        </md-button>
                        <br />
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>
    </div>

