<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="RoomManagementDatabasseEntities" connectionString="metadata=res://*/Entities.RoomsModel.csdl|res://*/Entities.RoomsModel.ssdl|res://*/Entities.RoomsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=RoomManagementDatabasse;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="RoomManagementDatabasseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:rfs-dbserver.database.windows.net,1433;Initial Catalog=rms-db;Persist Security Info=False;User ID=rfsadmin;Password=Resideo#123;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>
</configuration>