@{
    ViewBag.Title = "Login";
}


<div class="login-section ng-cloak" ng-app="ResideoApp" ng-controller="IdentityController" class="md-padding" ng-cloak>
    <md-card ng-cloak>
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <span class="md-headline">Login to Facility Portal</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-cloak>
            <div layout="column">
                <form name="userForm">
                    <div layout-gt-xs="column">
                        <div ng-if="loginfailed">
                            <div style="box-shadow: 0 0 4px 1px red;padding-left: 5px;
    margin-bottom: 15px;
    color: red;" ng-message="true">Invalid UserId and Password.</div>
                        </div>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Username</label>
                            <input ng-disabled="loginStarted"   ng-model="user.email" md-no-float required type="email" ng-pattern="">
                        </md-input-container>

                        <md-input-container>
                            <label>Password</label>
                            <input ng-disabled="loginStarted"   ng-model="user.password" md-no-float type="password" ng-required="true">
                        </md-input-container>
                        <md-button ng-click="login()" type="submit" style="    background-color: red;" class="md-raised md-primary">
                            Login
                        </md-button>
                        <br />
                        <a href="/Identity/ResetPassword">Not able to Login?</a>
                        <a href="/Identity/Signup">Signup</a>
                        <md-progress-linear ng-if="loginStarted" class="md-warn" md-mode="indeterminate"></md-progress-linear>
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>
    </div>

