@{
    ViewBag.Title = "Reset Password";
}

<div  class="login-section" ng-app="ResideoApp" ng-controller="IdentityController" class="md-padding">
    <md-card >
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <span class="md-headline">Facility Portal > Reset Password</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content ng-if="!sentResetLink">
            <div layout="column">
                <form name="resetPasswordForm" ng-submit="resetPassword()">
                    <div layout-gt-xs="column">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>email </label>
                            <input ng-disabled="startSendingResetLink" ng-model="user.email" type="email" ng-required="true">
                            <div class="hint">Your official email id at resideo.</div>
                        </md-input-container>

                        <md-button ng-disabled="startSendingResetLink" type="submit" style="    background-color: red;" class="md-raised md-primary">
                            Send Password Reset Link
                        </md-button>

                        <br />
                        <a ng-if="!signupStart" href="/">Back to Login Page</a>
                        <md-progress-linear ng-if="startSendingResetLink" class="md-warn" md-mode="indeterminate"></md-progress-linear>

                    </div>
                </form>
            </div>
        </md-card-content>
        <md-card-content ng-if="sentResetLink">
            <div layout="column">
            <h4>Password reset link has been sent to your mail id. Kindly check and follow the instructions.</h4>
            </div>
        </md-card-content>
    </md-card>

   
    </div>
