@{
    ViewBag.Title = "Login";
}


<div ng-cloak  class="login-section" ng-app="ResideoApp" ng-controller="IdentityController" class="md-padding">
    <md-card ng-if="!signupSucces">
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <span class="md-headline">Signup for Facility Portal</span>
                @*<span class="md-subhead">Tell us a little about you.</span>*@
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column">
                <form name="userForm" ng-submit="signup()">
                    <div layout-gt-xs="column">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>email </label>
                            <input ng-disabled="signupStart" ng-model="user.email" type="email" ng-required="true">
                            <div class="hint">Your official email id at resideo.</div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Name </label>
                            <input ng-disabled="signupStart" ng-model="user.name" type="text" ng-required="true">
                            <div class="hint">Tell us what we should call you!</div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Phone</label>
                            <input ng-disabled="signupStart" ng-model="user.phone" type="number">
                            <div class="hint">Your number in case we need to reach you.</div>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-disabled="signupStart" type="password" ng-model="user.password" required>
                            <div class="hint">Any text mix of alphabets, numbers and special chars, which you can remember.</div>
                        </md-input-container>
                        <md-input-container>
                            <label>Retype Password</label>
                            <input  name="confirm_password" ng-disabled="signupStart" type="password" ng-model="user.checkpassword" compare-to="user.password" required>
                            <div class="hint">Just to verify that what you are typing is same what you are thinking.</div>
                            <div ng-messages="userForm.confirm_password.$error" role="alert" class="form-errors first-name-error">
                                <div ng-message="compareTo">Passwords do not match</div>
                            </div>
                        </md-input-container>
                        <md-button    ng-disabled="signupStart"  type="submit" style="    background-color: red;" class="md-raised md-primary">
                            Signup
                        </md-button>

                        <br />
                        <a ng-if="!signupStart" href="/">Back to Login Page</a>
                        <md-progress-linear ng-if="signupStart" class="md-warn" md-mode="indeterminate"></md-progress-linear>
                    </div>
                </form>
            </div>
        </md-card-content>
    </md-card>

    <md-card ng-if="signupSucces">
        <md-card-title>
            <md-card-title-text>
                <img style="width: 150px;" src="~/Content/img/resideo-company-name-logo-black-170-x-39.png" />
                <md-icon style="
    margin-top: 50px;
    width: 75px;
    height: 75px;" md-svg-src="~/Content/img/done.svg" class="s48" aria-label="Cart"></md-icon>
                <span class="md-headline">Your account has been created successfully. Redirecting to Home Page...</span>
                <md-progress-linear ng-if="signupStart" class="md-warn" md-mode="indeterminate"></md-progress-linear>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
       
        </md-card-content>
        
    </md-card>
    </div>

