@{
    Layout = null;
}


<div layout-gt-sm="row" >
    <div flex-gt-sm="20" id="profilepicdiv" style="position: relative;
  ">
        <img id="userImage" style="width: 150px;
    height: 150px; " src="Content/img/user.svg" />
        
        <div id="changedpbutton">
            <input class="ng-hide" id="input-file-id" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" type="file" />
            <label for="input-file-id" class="md-button">Upload DP</label>
        </div>
        @*<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />*@
    </div>
    <div flex-gt-sm="80" >
        <md-content class="md-no-momentum">
            <div layout="row">
                <md-input-container class="md-icon-float md-block" flex="50">
                    <!-- Use floating label instead of placeholder -->
                    <label>Name</label>
                    <md-icon md-svg-src="Content/img/ic_person_24px.svg" class="name"></md-icon>
                    <input ng-model="user.Name" type="text">
                    <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
                </md-input-container>

                <md-input-container md-no-float class="md-block" flex="50">
                    <md-icon md-svg-src="Content/img/ic_phone_24px.svg"></md-icon>
                    <input ng-model="user.Phone" type="text" placeholder="Phone Number">
                </md-input-container></div>
                <div layout="row">
                    <md-input-container class="md-block" flex="50">
                        <!-- Use floating placeholder instead of label -->
                        <md-icon md-svg-src="Content/img/ic_email_24px.svg" class="email"></md-icon>
                        <input ng-model="user.Email" type="email" placeholder="Email" disabled>
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Location:</label>
                        <md-select ng-model="user.loc">
                            <md-option ng-value="loc" ng-repeat="loc in locations" @*ng-disabled="$index === 1"*@>
                                {{loc.Name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-switch flex="20" style="margin-left:36px;" md-invert ng-model="user.emailnotify" aria-label="Switch 1">
                    Notify me over email:
                </md-switch>
                <md-button style="margin-left:34px" class="md-warn md-raised md-hue-2" ng-click="updateProfile()">Update Profile</md-button>
        </md-content>
        </div>
    </div>
    @*<div id="name">
        {{me.Name}}
    </div>
    <div id="EmpoyeeID">
        {{me.EmpId}}
    </div>
    <div id="Email">
        Email: {{me.email}}
    </div>
    <div id="Address">
        {{me.Name}}
    </div>*@

