.overlay {
    position: fixed;
    display: none;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */
    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.strikethrough {
    position: relative;
}

    .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }

#helplink:hover{
    cursor:pointer;
    color:black;
}
.headerlinka :hover {
    color: white;
}
.headerlinka  {
    color: white;
}
.md-subheader .md-subheader-inner {
    display: block;
    padding: 0px !important;
}
.toolbarbutton {
    min-width: 30px;
    min-height: 30px;
    width: 70px;
    height: 30px;
    max-width: 70px;
    max-height: 30px;
    margin:0px;
}

.mybookingbutton {
    background-color: darkred;
    color: white;
    margin: 5px;
    padding: 5px;
    user-select: none;
    box-shadow: 3px 3px 6px 0px black;
}
    .mybookingbutton:hover {
        
        cursor: pointer;
    }
    .mybookingbutton:active {
       
        box-shadow: inset 0 0 4px 0px black;
        
    }

.btn-logout {
    width: 100%;
    padding: 3px 20px !important;
    text-align: left !important;
    color: red !important;
    margin-top: -3px;
}

md-toolbar.md-default-theme.md-hue-3:not(.md-menu-toolbar), md-toolbar.md-hue-3:not(.md-menu-toolbar) {
    background-color: red;
}
    .navbar-inverse {
    background-color: white;
    border-color: red;
    box-shadow: 1px 4px 0px red;
}
    .navbar-inverse .navbar-nav > li > a {
        color: black;
    }
        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: red;
        }
            body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

