
.btn-logout {
    width: 100%;
    padding: 3px 20px !important;
    text-align: left !important;
    color: red !important; 
    margin-top: -3px;
}

md-toolbar.md-default-theme.md-hue-3:not(.md-menu-toolbar), md-toolbar.md-hue-3:not(.md-menu-toolbar) {
    background-color: red;
}
    .navbar-inverse {
    background-color: white;
    border-color: #ce0202;
    box-shadow: 1px 4px 0px #ce0202;
}
    .navbar-inverse .navbar-nav > li > a {
        color: black;
    }
        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: red;
        }
            body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

